
@model sistema_gestao_decursos_online.Models.CursoModel

@{
    ViewData["Title"] = "Detalhes do Curso";
}
<!--
 * View: Curso/Details
 * Descrição: Exibe detalhes de um curso específico.
 * Data de Criação: 02/06/2025
-->
<h1>Detalhes do Curso</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.CursoId</dd>

        <dt class="col-sm-2">Título</dt>
        <dd class="col-sm-10">@Model.Titulo</dd>

        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Carga Horária</dt>
        <dd class="col-sm-10">@Model.CargaHoraria</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CursoId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>
